
body{
    background-color: #FBFBFB
}

.un-ordered-list{
    position: absolute;
    margin: 10px;
    background-color: white;
    max-height: 250px;
    width: 300px;
    overflow-y: scroll;
    z-index: 5;
}

li{
    list-style-type: none;
    cursor: pointer;
    padding: 2%;
}

li:hover{
    background-color: #f0f0f0;
}


